<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/stylesheets/main.css">

  </head>
  <body>
      <header class="header">
        <div class="nameplate"><a href="/">{{ site.name }}</a></div>
        <div class="social-nav">
          <ul>
            <li>
              <a class="twitter" href="http://twitter.com/craftychickadee" target="_blank" name="Twitter">Twitter</a>
            </li>
            <li>
              <a class="pinterest" href="http://pinterest.com/crftychickadee" target="_blank" name="Pinterest">Pinterest</a>
            </li>
            <li>
              <a class="etsy" href="http://etsy.com/shop/thecraftychickadee" target="_blank" name="Etsy">tsy</a>
            </li>
          </ul>
        </div>
      </header>

      {{ content }}

      <footer class="footer">
      </footer>

  </body>
</html>
